server {
    listen 80;
    charset utf-8;
    client_max_body_size 128M;
#    root    /srv/smart-store-project/front/build;
#    index   index.html;
    location / {
#        try_files $uri $uri/ /index.html;
        include         /etc/nginx/proxy_params;
        proxy_pass      http://unix:/run/smartstore.sock;
    }
    location /static/ {
        alias           /srv/smart-store-project/.static/;
    }
}



#server {
#
#    charset utf-8;
#    client_max_body_size 128M;
#    root    /srv/smart-store-project/front/build;
#    index   index.html;
#    location / {
#
#        try_files $uri $uri/ /index.html;
#        include         /etc/nginx/proxy_params;
#        proxy_pass      http://unix:/run/smartstore.sock;
#    }
##    location /static/ {
##        alias           /srv/smart-store-project/.static/;
##    }
#}